.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    max-width: 1184px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 28px;
    }
}
