.lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    padding: 0 16px 16px 16px;
    text-align: center;
    margin: 0; 
}

@media screen and (min-width: 768px) {
    .lead__title {
        padding: 0 24px 24px 32px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
        padding: 0 104px 32px 104px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        padding: 0 132px 32px 132px;
    }
}